@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid black; */
}

html {
  font-size: 16px;
  /* border: 2px solid black; */
}

body {
  max-height: 100vh;
  width: 100%;
  /* border: 2px solid black; */
}

/* ////////////////////////////////////////////////////////////////// */

/* HERO   HERO  HERO  HERO*/

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  /* border: 2px solid black; */
}

/* styling for main image */
.picture-frame > img {
  /* padding: 2px; */
  height: 700px;
  filter: brightness(200%);
  /* border: 2px solid black; */
}

.intro {
  /* border: 2px solid black; */
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro > h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #343434;
  padding-bottom: 5px;
  /* word-spacing: 5px;
  letter-spacing: 2px; */
}

.intro > h2 {
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 10px;
  color: #343434;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 20px;
}

.CV {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 100px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 0;
  background-color: #343434;
}

/* ////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////// */

/* ABOUT ABOUT ABOUT ABOUT */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #d1d1d1;
  height: 100vh;
  width: 100%;
  width: 100%;
  /* border: 2px solid black; */
}
#about > img {
  height: 270px;
  border-radius: 50%;
}

#about > h2 {
  padding: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 4rem;
}

.about-par {
  width: 900px;
}
.about-par > p {
  font-size: 1.5rem;
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */

/* SKILLS SECTION */
#skills {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

#skills > h2 {
  margin-bottom: 50px;
  margin-top: 100px;
  font-weight: 600;
  font-size: 4rem;
  margin-left: 100px;
}

.technical-container {
  /* border: #000000 solid 2px; */
  margin-top: 50px;
  margin-left: 100px;
}

.technical.container > h5 {
  font-size: 2rem;
  font-weight: 500;
  /* font-family: ; */
}
.career-progress,
.skills-progress {
  margin-top: 50px;
}

.skills-progress > p,
.career-progress > p {
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
}

/*PROJECTS SECTION*/

#projects {
  background-color: #343434;
  height: 100vh;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto; */
  width: 100%;
}

.projects-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#projects > h2 {
  text-align: center;
  color: #ffffff;
  font-size: 4rem;
  padding-top: 100px;
  margin-bottom: 100px;
  /* border: solid 2px black; */
}

.projects-container > div {
  /* border: #000000 solid 2px; */
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container > div > img {
  height: 200px;
}

/*CONTACT SECTION*/

#contact {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: #ffffff solid 5px; */
}

#contact > * {
  color: #ffffff;
  /* padding: 20px; */
}

.contact-container {
  /* border: #ffffff solid 5px; */
  width: 500px;
  /* margin-top: 50px; */
}

.contact-container > h2 {
  font-size: 3.5rem;
  font-weight: 600;
  /* margin-top: 150px; */
  /* border: #ffffff solid 5px; */
}

.contact-container > div {
  margin-top: 100px;
  margin-bottom: 0;
}

.contact-container > div > p {
  font-size: 2rem;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  /* border: #ffffff solid 5px; */
}

.contact-container > h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 100px;
  /* border: #ffffff solid 5px; */
}

.contact-container > img {
  /* border: #ffffff solid 5px; */
  margin-right: 10px;
}

/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

@media (min-width: 319px) and (max-width: 991px) {
  .hero-container {
    height: auto;
  }

  .picture-frame {
    visibility: hidden;
  }

  .picture-frame > img {
    display: none;
  }

  .intro {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro > h1 {
    text-align: center;
  }

  /* ////////////////////////////// */

  /* about */

  #about > img {
    height: 150px;
    border-radius: 50%;
  }

  .about-par {
    width: auto;
  }

  .about-par > p {
    font-size: 1.2rem;
    text-align: center;
    font-family: "DM Sans", sans-serif;
  }

  #about {
    display: flex;
    background-color: #d1d1d1;
    height: auto;
    /* width: 100%;
    width: 100%; */
    /* border: 2px solid black; */
  }

  #about > h2 {
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 3rem;
  }

  /* //////////////////////////////////////////////////////////////////// */

  /* SKILLS SKILLS SKILLS SKILLS */
  #skills {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 50px;
  }

  #skills > h2 {
    font-size: 3rem;
    margin-left: 0;
  }

  .technical-container {
    width: auto;
  }

  /* /////////////////////////////////////////////////////////////////////////// */

  /* PROJECTS PROJECTS PROJECTS */

  #projects {
    height: auto;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  /* //////////////////////////////////////////////////////////////////////////// */

  #contact {
    height: auto;
  }

  .contact-container {
    /* display: flex;
    align-items: center; */
    width: auto;
  }

  .contact-container > img {
    width: 25px;
    height: 25px;
  }
}
